

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


   .main-content{
   		min-height: 500px;
   }

   #filelist{
   	list-style-type: none;
   }

   .folder >a>img{
   	width: 35px;
   	margin-right: 25px;
   }

   .folder>a{
   	font-family: cursive;
	font-size: larger;
   }

   .menu{
   	min-height: 500px;
   	background-color: rgba(30, 66, 78, 0.2);
   }

   .menu>ul{
   	margin-top: 10px;
   }

   .content{
   	min-height: 500px;
   	max-height: 500px;
   	overflow: scroll;
   }



   @media only screen 
	and (min-width : 1920px) 
	{
		.map_canvas 
		{
			min-height: 768px;		  
			height: 100%;
		}
	}